@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html {
	font-family: 'Oswald', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
}

.sunny {
	background-color: rgba(251,175,63,1);
	margin: 0;
	padding-top: 10em;
	padding-bottom: 25em;
}

.rainy {
	background-color: rgba(80,10,45,1);
	margin: 0;
	padding-top: 10em;
	padding-bottom: 25em;
}

.cloudy {
	background-color: rgba(0,167,157,1);
	margin: 0;
	padding-top: 10em;
	padding-bottom: 25em;
}

.sunny h1,
.rainy h1,
.cloudy h1 {
	font-size: 100px;
}

.main {
	padding-bottom: 30em;
	margin: 0;
	background-color: rgba(64,64,65,1);
	text-align: center;
}

h1 {
	margin: 0;
	text-align: center;
	color: white;
	padding: 10%;
	padding-bottom: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 20px;
	color: white;
}

hr {
	width: 200px;
	border: 2px solid white;
	opacity: .5;
	margin-top: 40px;
	margin-bottom: 40px;
}

a {
	text-align: center;
	color: white;
	list-style-type: none;
	text-decoration: none;
	text-shadow: 3px 3px 3px grey;
}

a:hover {
	opacity: 1;
	text-shadow: 3px 3px 3px black;
}

.rotate{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    overflow:hidden;

    }

.rotate:hover
{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}
